extends ../layout

block content
	h1.
		Blob ID #{client._id}
	form(action='/clients/#{client._id}/edit',method='post',name='updateclient',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{client.name}', name='name')
		p Badge:
			input#inputBadge(type='number', value='#{client.badge}', name='badge')
		p DOB:
			input#inputDob(type='date', value='#{clientdob}', name='dob')
		p Are you Loved?:
			input#inputIsLoved(type='checkbox', name='isloved', checked=('#{client.isloved}'==='true' ? "checked" : undefined))
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update